body {
		font-family: Arial, sans-serif;
}

#wrapper {
		width: 960px;
		margin: 0 auto;
		padding: 0 40px;
		background: #fff;
		box-shadow: 0 0 10px #777;
}

/*HEADER*/
img {
		margin-top: 35px;
		margin-bottom: 35px;
}

.header a {
		color: #fff;
		text-decoration: none;
}

.menu {
		background: #666;
}

.menu li {
		position: relative;
		float: left;
		padding: 12px 30px;
		border-left: 1px solid transparent;
}

.menu li:hover {
		border-right: 1px solid #999;
		border-left: 1px solid #999;
		background-color: #333;
}

/*SIDEBAR, CONTENT*/
.clearfix::after {
		content: '';
		clear: both;
		display: block;
}

.conteiner {
		padding: 30px 0;
}

.sidebar {
		width: 30%;
		float: left;
}

.sidebar ul {
		display: flex;
		flex-direction: column;
		width: 80%;
}

.sidebar a {
		display: block;
		width: auto;
		padding-left: 24px;
		border: 1px solid #999;
		color: #999;
		line-height: 36px;
		text-decoration: none;
}

.sidebar a:hover {
		padding-left: 34px;
		background-color: #f9f9f9;
		color: #333;
}

.content {
		width: 65%;
		float: right;
}

.content img {
		max-width: 100%;
		margin: 0 auto;
}

.content p {
		padding: 30px;
		text-align: left;
		box-sizing: border-box;
}

	/*FOOTER*/
.footer {
		display: flex;
		flex-direction: row;
		padding-bottom: 35px;
}

.footer ul {
		width: 80%;
		display: flex;
		background: #ccc;
}

.footer a {
		display: block;
		padding: 0 30px;
		color: #000;	
		line-height: 40px;
		text-decoration: none;
}

.footer a:hover {
		text-decoration: underline;
}

.footer p {
		width: 20%;
		padding-right: 25px;
		background-color: #ccc;
		line-height: 40px;
		text-align: right;
}
